project:
  type: website

website:
  title: "Wonhyeok Choi"
  navbar:
    right:
      - href: index.qmd
        text: Home
      - href: Projects.qmd
        text: Projects

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true


execute: 
  freeze: auto
  
